* {
  box-sizing: border-box;
}

#q4Wrapper {
  background-color: #2a3035;
  font-family: "Roboto", sans-serif;
  color: white;
}
#q4Wrapper h1,
#q4Wrapper h3 {
  margin: 0;
}
#q4Wrapper h1 {
  font-size: 48px;
}
#q4Wrapper h3 {
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
}
#q4Wrapper header,
#q4Wrapper footer {
  background-color: #22272b;
}
#q4Wrapper header {
  padding: 20px;
}
#q4Wrapper footer {
  margin: 10px 10px 30px;
  padding: 10px;
  border-radius: 5px;
}
#q4Wrapper article {
  text-align: center;
}
#q4Wrapper article img {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
}
#q4Wrapper a {
  display: inline-block;
  text-decoration: none;
  color: white;
  transition: transform 0.3s ease;
}
#q4Wrapper a:hover {
  transform: scale(1.05);
}
#q4Wrapper a span {
  opacity: 0.5;
}

.layout_inner {
  max-width: 960px;
  margin: 0 auto;
  padding: 30px 20px;
}
.layout_header {
  margin-bottom: 30px;
  text-align: center;
}

/* Begin styling the report items here! */
.reports {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 30px;
}
@media only screen and (max-width: 768px) {
  .reports {
    display: grid;
    grid-template-columns: auto auto;
    padding: 30px;
  }
}
@media only screen and (max-width: 428px) {
  .reports {
    display: grid;
    grid-template-columns: auto;
    padding: 30px;
  }
}
